
body{
	background-color:#dea;
	
}
#doucment0 {
	background: white;
	border: 2px solid #85D413;
	margin: 20px 0;
	margin-left: 220px;
	margin-right: 220px;
	

	
	
}
.titre{
	position: absolute;
	left: 600px;
	top: 30px;	
}
.apple{

	position: relative;
	height: 300;
	margin: -3px;
}

	
#doucument-1{
	margin: 0px;
	padding: 0px;
	list-style-type: none ;
}

nav{
	background: url("bg_menu.gif") repeat-x 0 -25px ;
	height: 40px;
}

nav ul{
	display: flex;
	align-items: flex-start;
	text-align: center;
	height: 40px;
	
}

nav ul li:hover{
	background: url("bg_menu.gif") ;
}

nav ul li{
	
	width: 150px;
	line-height: 25px;
	border-right: 2px  solid #D4F9BD;
	
}

nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	
}
	

div#text{
	padding: 0 25px 0 100px ;
	background: url(bg_page.gif) no-repeat 15px 15px;
	

}
div#text h2{
	padding-left: 25px;
	font-size: 20px;
	background: url(little_apple.gif)no-repeat left bottom;
	color: #9b2;
	border-bottom: 1px solid #9b2;
	
}
div#text h3{
	padding-left:5px;
	font-size: 15px;
	color: #9b2;
	border-bottom:1px solid #9b2 ;
	border-left: 3px solid #9b2;
}

p{
	text-align: justify ;
	text-indent: 2em ;
	line-height: 1.7em ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	
	}
div#text a{
	color: #9b2;
	 padding-left: 10px;
}

div#footer p{
	margin: 20px ;
	padding-right: 10px ;
	line-height: 30px ;
	text-align: right ;
	 color: #9b2;
}


	


